nav .cartIcon {
    display: inline-block;
    color:white;
    text-shadow: 2px 2px 2px #555;
}

nav .quantity {
    display: inline-block;
    position: relative;
    bottom: 1.3em;
    color: white;
    font-weight: bold;
}