#productImage {
    width: 240px;
}

#itemContainer {
    background: linear-gradient(160deg, #ffffff 40%, #75a4ff 60%);
    border: 1px solid #bbb;
    border-radius: 2em;
    margin: 15px;
    text-align: center;
}

#itemName {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.5em;


}

#itemPrice, #itemStock {
    margin: 0px 10px;
}